POCKETBASE_URL=https://pocket.boidev.cloud/
POCKETBASE_SUPERUSER_EMAIL=
POCKETBASE_SUPERUSER_PASSWORD=
SQLITE_IMPORT_URL=file:./prisma/dev.db
MEDIA_PUBLIC_BASE_URL=https://media.srilankainvestmentforum.com
MINIO_ENDPOINT=
MINIO_REGION=us-east-1
MINIO_BUCKET=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=SLIF Admin
